//
.select2-selection.select2-selection--single {
    position: relative;
    font-family: inherit;
    background-color: transparent !important;
    font-size: 15px;
    border-radius: 0 !important;
    border: none !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
}

input.datepicker {
    background: no-repeat center bottom, center calc(100% - 1px);
    background-size: 0 100%, 100% 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
    height: 36px;
    transition: background 0s ease-out;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    font-size: 14px;
    color: #444;
}

.is-focused input.datepicker {
    background-image: linear-gradient(to top, #9c27b0 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

.gj-icon {
    color: #444;
}

.gj-picker-md table tr td.selected.gj-cursor-pointer div {
    color: white;
    background-color: #00acc1 !important;
    border-radius: 5px !important;
}

.custom-table td,
.custom-table th,
.custom-table {
    border: 1px solid #ddd;
}

.data-bill table tr td,
.data-bill table tr td input {
    font-size: 13px;
    padding: 5px;
}

.data-bill table tr td strong {
    text-align: center;
}
